/* 
    Author : Shibu Manoharan
    Date   : 03/03/16
*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

 @font-face { 
   font-family: orwellFont; 
   src: url('/fonts/CharcuterieCursive.otf');
   }

.titleBlock{
	background-color:rgb(0,0,0);
  width: 100%; 
  height: 120px; 
  background: url(/images/panelBg.png) top; 
  padding: 16px 120px 0 0; 
  margin: 0 100 15px 0; 
  border-top: 10px solid black;
  text-align: center;
}

.linkFont{
  font-family: "Comic Sans";
}

* { padding: 10; margin: 10; }
html, body {
    min-height: 100% !important;
    height: 100%;
}


.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}


.overview { 
   font-size: 18px;
   font-weight: bold;
   top: 10px; 
}

.logout { float: right; width: 200px; text-align: bottom;}
.basket { float: right; width: 140px; display: block; text-align: center; background: #69a8a8; padding: 5px 10px 10px 10px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; }
p.orderText { margin: 0 0 10px 0; font-size: 24px; color: #fff; font-family: orwellFont; font-weight: normal; font-style: normal; }

@media handheld, only screen and (max-width: 751px) {
  .basket { overflow: hidden; float: none; width: auto; padding: 5px 10px; }
  p.orderText { display:none; }
  span.basket-icon { text-align:left; float:left; padding:5px 0 0 0; font-size: 13px; }
  .basket a.left-button { width: 85px; margin: 0 0 0 10px; padding:5px 0; float: right; display: inline-block; font-size: 12px; background: #4f8a8a; }
  .basket a.right-button { margin: 0; padding:5px 0; font-size: 12px; }
}

a.left-button { width: 77px; padding: 8px 0; text-align: center; margin: 10px 0 0 2px; float: left; display: inline-block; background: #69a8a8; font-size: 14px; font-family: CharcuterieSerif; font-weight: normal; font-style: normal; color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; transition: background 1s; -moz-transition: background 1s; -webkit-transition: background 1s; -o-transition: background 1s; }
a.right-button { width: 77px; padding: 8px 0; text-align: center; margin: 10px 2px 0 0; float: right; display: inline-block; background: #fff; font-size: 11px; color: #000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family: CharcuterieSerif; font-weight: normal; font-style: normal; transition: background 1s; -moz-transition: background 1s; -webkit-transition: background 1s; -o-transition: background 1s; }
a.left-button:hover { background: #000; color: #fff; }
a.right-button:hover { background: #69a8a8; color: #fff; }


.heading{
  font-family: orwellFont;
}

.content{
  padding-top: 120px;
}


table {
    width: 100%;
    table-layout: fixed;
}

body {font-family: Verdana,Arial,Helvetica,sans-serif;}

.image {
    background: none repeat scroll 0 0 #444;
    border-radius: 5px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s linear 0s;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-top: 1px solid #222222;
    padding: 5px 5px 0;
}

div.image img {
    border: 1px solid #222222;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px #222222;
    height: auto !important;
    width: auto !important;
    max-width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.caption {
    background: linear-gradient(to bottom, #404040 0%, #353535 100%) repeat scroll 0 0 #393939;
    border-bottom: 1px solid #111111;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #494949;
    box-shadow: 2px -1px 21px -3px #000000;
    display: block;
    padding: 3px 0 5px;
    position: relative;
    font-size: 14px;
    margin-left: -5px;
    margin-right: -5px;
    font-weight: bold;
    color: #fff;
}