<div data-ng-controller="recipiesController as recipies">
    <table class="center">
	<tbody>
        <tr>
            <th>
                <button tabindex="20" class="btn btn-primary" data-ng-click="addRecipe()">Add Recipe</button>
            </th>
        </tr>
        <tr>
            <th>
                 &nbsp;
            </th>
        </tr>
		<tr data-ng-repeat="item in recipies">
			<td data-ng-repeat="recipe in item | orderBy:recipe.name">
                <div align="center" style="max-width: 206px;" class="image" ng-click="$rootScope.id=recipe.name">
                     <a href="#{{recipe.id}}" class="linkFont">
                     <img ng-src="{{recipe.imageName}}"/><br/>
                     <span class="caption">
                        {{recipe.name}} <br/>
                        {{recipe.difficulty}} <br/>
                        {{recipe.preparationTime}} <br/>
                        {{recipe.dateSubmitted | date:'dd/MM/yy'}} <br/>
                     </span>        
                     </a>
                </div>
			</td>
		</tr>
	</tbody>
</table>
</div>